body {
  background: #507b74;
}

.keyboard {
  max-width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #84bbb2;
  margin: 0 auto;
  border: 3px solid black;
  padding: 5px;
}

.keyboard__key,
.keyboard__left-ctrl,
.keyboard__win,
.keyboard__left-alt,
.keyboard__right-ctrl,
.keyboard__right-alt,
.keyboard__left,
.keyboard__up,
.keyboard__down,
.keyboard__right {
  box-sizing: border-box;
  width: 6.2%;
  height: 39px;
  border: solid rgb(0, 0, 0);
  margin: 2px;
}

.keyboard__backspace {
  box-sizing: border-box;
  width: 11.1%;
  height: 39px;
  border: solid rgb(0, 0, 0);
  margin: 2px;
}

.keyboard__tab,
.keyboard__back-slash {
  box-sizing: border-box;
  width: 8.6%;
  height: 39px;
  border: solid rgb(0, 0, 0);
  margin: 2px;
}

.keyboard__caps {
  box-sizing: border-box;
  width: 11.1%;
  height: 39px;
  border: solid rgb(0, 0, 0);
  margin: 2px;
}

.keyboard__enter {
  box-sizing: border-box;
  width: 13%;
  height: 39px;
  border: solid rgb(0, 0, 0);
  margin: 2px;
}

.keyboard__left-shift {
  box-sizing: border-box;
  width: 13.6%;
  height: 39px;
  border: solid rgb(0, 0, 0);
  margin: 2px;
}
.keyboard__right-shift {
  box-sizing: border-box;
  width: 17.2%;
  height: 39px;
  border: solid rgb(0, 0, 0);
  margin: 2px;
}

.keyboard__space {
  box-sizing: border-box;
  width: 38%;
  height: 39px;
  border: solid rgb(0, 0, 0);
  margin: 2px;
}